<!-- extend base layout -->
{% extends "index_base.html" %}

{% block head_css %}
        {{ super() }}
        <link href="{{url_for('static',filename='css/carousel.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/topnav.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/categorynav.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/sidepanel.css') }}" rel="stylesheet">
{% endblock %}
{% block navbar %}
        <nav class="navbar">
                <div class="nav-left">
                    <a href="https://cloud.marketing.hktvmall.com/HKLive/?utm_source=&utm_medium=&utm_campaign=&openinapp=true&autoTriggerApp=true&fastrender=true" data-tag="HKTV 直播">HKTV 直播</a>
                    <a href="https://www.theplace.shop/?utm_source=mall_web&utm_medium=hktvmall_landing&utm_campaign=LHS_header" data-tag="ThePlace網店平台">ThePlace網店平台</a>
                    <a href="https://cloud.marketing.hktvmall.com/ship-overseas?openinapp=true&autotriggerapp=true&fastrender=true&backstack=true" data-tag="直送海外">直送海外</a>
                    <a href="https://cloud.marketing.hktvmall.com/quickstartguide_zh/?openinapp=true&autoTriggerApp=true&backstack=true&fastrender=true" data-tag="新手攻略">新手攻略</a>
                    <a href="blog_post.html.j2" data-tag="VIP會員計劃">VIP會員計劃</a>
                    </div>
                <div class="nav-right">
                    <a href="https://www.hktvmall.com/hktv/zh/cs-help" data-tag="常見問題">常見問題</a>
                    <a href="https://cloud.marketing.hktvmall.com/storelocationzh?footer" data-tag="O2O自取點">O2O自取點</a>
                    <a href="https://www.hktv.com.hk/big5/careers/recruit.php" data-tag="工作機會">工作機會</a>
                    <a href="https://business.hktvmall.com/?utm_source=mainappwebsite&utm_medium=merchantpartnership" data-tag="商戶加盟">商戶加盟</a>
                </div>
                </nav>
                
                <header class="header-container">
                  <div class="logo-container">
                    <img src="https://images-dynamic.hktvmall.com/mkgb/common/cqa/qhv/MNjSuLWlwM20240508165218.png" alt="HKTVmall Logo" class="site-logo">
                  </div><br>
                  <nav class="main-nav">
                    <a class="Bar0" href="#">Everuts</a>
                    <a class="Bar1" href="#">13Landmarks</a>
                    <a class="Bar2" href="#">超級巿場</a>
                    <a class="Bar3" href="#">護理保健</a>
                    <a class="Bar4" href="#">護膚化妝</a>
                    <a class="Bar5" href="#">時尚服飾</a>
                    <a class="Bar6" href="#">直送澳門</a>
                    <a class="Bar7" href="#">直送澳門</a>
                    <a class="Bar8" href="#">寵物用品</a>
                    <a class="Bar9" href="#">母嬰育兒</a>
                    <a class="Bar10" href="#">大腦場</a>
                    <a class="Bar11" href="#">家居電器</a>
                    <a class="Bar12" href="#">家品家俬</a>
                    <a class="Bar13" href="#">運動旅行</a>
                    <a class="Bar14" href="#">玩具圖書</a>
                    <a class="Bar15" href="#">保險金融</a>
                    <a class="Bar16" href="#">吃喝玩樂</a>
                  </nav></header>
                </div>
                <div class="product-container">
                  <!-- Left Sidebar - Categories -->
                  <div class="category-sidebar">
                    <h2>商品分類</h2>
                    <div class="search-box">
                      <input type="text" placeholder="輸入品牌或產品名稱">
                      <span class="product-count">全場 2,456,706 件商品</span>
                    </div>
                    
                    <div class="category-section">
                      <h3>護膚用品</h3>
                      <ul>
                        <li>個人護理用品</li>
                        <li>保健產品</li>
                        <li>醫療產品</li>
                      </ul>
                    </div>
                    
                    <div class="subcategory-section">
                      <h4><a href="#">全部化妝品及香水 ></a></h4>
                      <ul>
                        <li>人氣品牌 <span>(852)</span></li>
                        <li>面部化妝 <span>(332)</span></li>
                      </ul>
                    </div>
                    
                    <div class="brand-section">
                      <h4>熱門品牌</h4>
                      <div class="brand-grid">
                        <div class="brand">LANEIGE</div>
                        <div class="brand">CANMAKE</div>
                      </div>
                    </div>
                  </div>
                
                  <!-- Right Content - Products -->
                  <div class="product-listing">
                    <div class="product-filters">
                      <span>排序方式：默認</span>
                      <span>價格範圍：$0 - $20000</span>
                    </div>
                    
                    <div class="product-grid">
                      <!-- Product items would go here -->
                      <div class="product-card">產品1</div>
                      <div class="product-card">產品2</div>
                    </div>
                  </div>
                </div>
{% endblock %}                
